<html>
<body>
    <div class="login">
       <h1>House rent predictor</h1>
   
       <form action="{{ url_for('predict_datapoint')}}" method="post">
        <h1>
            <legend> Prediction</legend>
        </h1>
        <div class="mb-3">
            <label class="form-label">House age</label>
            <input class="form-control" type="number" name="House_Age"
                placeholder="Enter House age" min='0' max='20' />
        </div>
        <div class="mb-3">
            <label class="form-label">number of BEDROOMS</label>
            <input class="form-control" type="number" name="BEDROOMS"
                placeholder="Enter number of BEDROOMS" min='0' max='5' />
            </div>
            <div class="mb-3">
                <label class="form-label">number of ROOMS</label>
                <input class="form-control" type="number" name="ROOMS"
                    placeholder="Enter number of ROOMS" min='0' max='10' />
                </div>
                <div class="mb-3">
                    <label class="form-label">number of PERSONS</label>
                    <input class="form-control" type="number" name="PERSONS"
                        placeholder="Enter number of PERSONS" min='0' max='50' />
                    </div>
        <div class="mb-3">
            <label class="form-label">METRO</label>
            <select class="form-control" name="METRO" placeholder="METRO" required>
                <option class="placeholder" selected disabled value="">Select METRO</option>
                <option value="Town">
                    Town
                </option>
                <option value="Central City">
                    Central City
                </option>
                <option value="Village">
                    Village
                </option>
                <option value="Others">
                    Others
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">REGION</label>
            <select class="form-control" name="REGION" placeholder="REGION" required>
                <option class="placeholder" selected disabled value="">Select REGION</option>
                <option value="Estern">
                    Estern
                </option>
                <option value="Northern">
                    Northern
                </option>
                <option value="Southern">
                    Southern
                </option>
                <option value="Western">
                    Western
                </option>
            </select>
        </div>


        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Predict your House rent" required />
        </div>
    </form>
    <h2>
       THE  prediction is {{results}}
    </h2>
   <body>
</html>